{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>WSNShop</title>
{% endblock meta %}
{% block content %}
    {% include "navbar.html" %}
    <section class="mx-auto my-10 flex min-h-screen max-w-screen-xl flex-col items-center">
        <h1 class="text-center text-4xl mt-16 font-extrabold">
            Selamat datang <span class="text-blue-700">{{ user }}</span>!
        </h1>
        {% if not products %}
            <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
                <img src={% static 'images/pepe-sad.jpg' %} alt="Pepe Sad" class="">
                <p class="text-center text-lg mb-4">Belum ada data product pada wsnshop.</p>
                <a href="{% url "main:create_product" %}"
                   class="block rounded-lg bg-blue-700 px-4 py-2 font-semibold text-white">Tambah Product</a>
            </div>
        {% else %}
            <div class="w-full grid gap-4 my-12 sm:grid-cols-2 md:grid-cols-4">
                {% for product in products %}
                    {% include "card_product.html" with product=product %}
                {% endfor %}
            </div>
            <a href="{% url "main:create_product" %}"
               class="block rounded-lg bg-blue-700 px-4 py-2 font-semibold text-white">Tambah Product</a>
        {% endif %}
    </section>
    {% include "footer.html" %}
{% endblock content %}
