{% extends 'base.html' %}

{% block meta %}
<title>WSNShop</title>
{% endblock meta %}

{% block content %}
<section>
  <h1>WSNShop</h1>
  <div>
    <h5>Name:</h5>
    <p>{{ name }}</p>
  </div>
  <div>
    <h5>NPM:</h5>
    <p>{{ npm }}</p>
  </div>
  <div>
    <h5>Class:</h5>
    <p>{{ class }}</p>
  </div>
</section>
<section>
  {% if not products %}
    <p>Belum ada data product pada wsnshop.</p>
  {% else %}
    <table>
      <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
      {% for product in products %}
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td>
            <a href="{% url 'main:edit_product' product.pk %}">
              <button>Edit</button>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <a href="{% url 'main:create_product' %}">
    <button>Add New Product</button>
  </a>
  <a href="{% url 'main:logout' %}">
    <button>Logout</button>
  </a>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
</section>
{% endblock content %}
